<h2>Create Movie</h2>
<form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="movie.name" name="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="movie.description" name="description" placeholder="Enter Description">
    </div>
    <div class="form-group">
        <label for="name">Genre</label>
        <input type="text" class="form-control" id="genre" [(ngModel)]="movie.genre" name="genre" placeholder="Enter Genre">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" id="year" [(ngModel)]="movie.year" name="year" placeholder="Enter Year">
    </div>
    <button (click)="saveMovie()" class="btn btn-primary btn-block">Save</button>
  </form>
